*{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

header{
    background-color: #df7197;
    grid-area: cabecalho;
    border-bottom: solid 4px rgb(133, 196, 207);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: 263056;
}

header a{
    text-decoration: none;
    color: #263056;
}

header li{
    transition: all 0.6s ease;
}

main{
    background-color: #d3d3d333;
    grid-area: conteudo;
}

footer{
    background-color: #df7197;
    grid-area: rodape;
    display: flex;
    align-items: center;
    overflow: hidden;
}

body{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 80px;
    grid-template-areas: 
        'cabecalho'
        'conteudo'
        'rodape'
    ;
}

.logo{
    flex-grow: 1;
}
.logo img{
    height: 74px;
}

.menu{
    flex-grow: 5;
}
.menu ul{
     display: flex;  
}

.menu li{
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
}

.autenticacao{
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
}

.autenticacao div{
    padding: 10px;
    border-radius: 20px;
}

header li:hover{
    background-color: rgb(243, 127, 208);
}

.cadastro:hover{
    background-color: rgb(243, 127, 208);
}

.login:hover{
    background-color: rgb(243, 127, 208);
}

.logo-rodape img{
    height: 80px;
    overflow: hidden;
}