*{
    margin:0;
    padding:0;
    font-family: 'Open-Sans', sans-serif;
    color: #233056;
}

a{
    text-decoration: none;
    color: #233056;
}

.logo{
    display: flex;
    align-items: center;
    flex-grow: 1;
    height:100%;
    margin-left: 5px;

    img{
        height:70px;
    }

    span{
        font-family: 'Lily Script One';
        font-size: 22px;
        font-weight: bolder;
        color: #233056;
        margin-left:7px;
    }
}

.menu{
    flex-grow: 10;
    ul{
        display: flex;
        li{
            list-style: none;
            padding:10px;
            border-radius: 15px;
            margin:0 25px;
        }
    }
} 

header{
    font-weight: 500;
    background-color: #ffd8db;
    grid-area: global_header;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.5);

    nav{
        display:flex;
        justify-content: space-between;
        align-items: center;
        height:100%;
        //Just a useless comment
        .search{
            flex-grow: 1;

            //This puts the button besides the search bar
            *{
                box-sizing: border-box;
            }

            form{
                input{
                    box-shadow: 2px 4px 4px rgba(0,0,0,0.4);
                    border-radius: 0;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    border: 1px solid rgba(#233056, 0.5);
                    padding: 12px;
                    height: 35px;
                    width: 80%;
                    font-size: 14px;
                    float: left;
                    background: white;

                    &:focus{
                        outline: none;
                    }          
                }
                
                ::placeholder{
                    color: #233056;
                }

                button {
                    box-shadow: 1px 4px 4px rgba(0,0,0,0.4);
                    border-radius: 0;
                    border-bottom-right-radius: 10px;
                    border-top-right-radius: 10px;
                    border: 1px solid rgba(#233056, 0.5);
                    height: 35px;
                    width: 20%;
                    font-size: 17px;
                    float: left;
                    background: #fff;
                    color: #233056;
                    align-items: center;
                    border-left: none;
                    cursor: pointer;
                }
                
                button:hover {
                   transition: filter 0.3s;
                   filter: brightness(0.7);
                }
            }
        }
        
        .menu{
            ul{

                li{
                    cursor: pointer;
                }

                li:hover{
                    background-color:  #caafb18e;
                }
            }
        }

        .cart{
            margin-left: 30px;
            flex-grow: 1;
        }

        .login{
            flex-grow: 1;
        }
    }    

}

main{
    background-color: #d3d3d333;
    grid-area: global_content;
}

footer{
    background-color: #ffd8db;
    grid-area: global_footer;
    
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .first-nav{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-grow: 1;

            .logo{
                img{
                    margin-top: 5px;
                    height: 50px;
                }

                span{
                    font-size: 15px; 
                }
                
            }

            hr{
                margin-left: 10px;
                border: 1pt solid #233056;
                width:186px;
            }

            .social-media{
                ul{
                    display: flex;
                    justify-content: center;
                    margin-left: 10px;
                    li{
                        list-style: none;
                        padding:3px;
                        border-radius: 15px;
                        margin:0 5px;
                        cursor: pointer;
                    }
                }
            }
        }

        .menu{
            flex-grow: 1;
            ul{
                justify-content: center;
            }
        }

        .partners{
            flex-grow: 2;
            display:flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

body{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 100px;
    grid-template-areas: 
        'global_header'
        'global_content'
        'global_footer'
    ;
}
