<div class="nav">
    <h2>Dashboard Doce Amor</h2>
    <button id="logout" class="text-button">
        Logout
    </button>
</div>

<div class="card">

    <div class="products">
        <h3>Gerenciar Produtos</h3>

        <hr>

        <h4>Adicionar Produto</h4>

        <form id="addProduct">
            <b>Nome do Produto</b>
            <input type="text">

            <b>Descrição</b>
            <input type="text">

            <b>Preço</b>
            <input type="text">

            <b>Categoria</b>
            <select name="category">
                <option selected>Selecionar</option>
                <option value="brownie">Brownie</option>
                <option value="copo-da-felicidade">Copo da Felicidade</option>
                <option value="bolo-no-pote">Bolo no Pote</option>
                <option value="brigadeiros">Brigadeiros</option>
                <option value="pastel-doce">Pastel Doce</option>
            </select>

            <b>Quantidade em Estoque</b>
            <input type="text">

            <!-- <button id='add-picture' class="text-button">
                Adicionar Foto
            </button> -->
            <input type="file" id="file-selector" onclick="UploadFile()">

            <button id='add-product' class="text-button" disabled cursor="no-drop">
                Adicionar Produto
            </button>

        </form>

        <hr>

        <h4>Remover Produto</h4>

        <form>
            <b>Nome do Produto</b>
            <input type="text">

            <button id='remove-product' class="text-button">
                Remover Produto
            </button>

        </form>

    </div>

    <div id="order" class="orders">
        <h3>Gerenciar Pedidos</h3>

        <hr>

        
    </div>

</div>