<h2>
    <i class="fa fa-shopping-cart"></i>
    Carrinho de Compras
</h2> 
<hr> 
<div class="container">
    <div class="left-card" id="items-to-display">
    </div>

    <div class="right-card"> 
        <h3>Dados de Entrega</h3>
        <p>
            Nome: Fulaninho 
            <br>
            <br>
            Endereço de entrega: Rua das Pedrinhas 123
            <br>
            <br>
            Telefone: 0000-0000
        </p>
        <h3>Dados do Pedido</h3>
        <p>
            Valor Total:........ 
        </p>
        <button class="text-button">
            Finalizar Pedido
        </button>
    </div>
</div>
