<!-- <h1>Página do Usuário!</h1>
<button id="logout" class="text-button">
    Logout
</button> -->

<div class="welcome">
    <h2>Seja bem vindo(a), Sabrina Bittencourt Sampaio!</h2>
    <button id="logout" class="text-button">
        Logout
    </button>
</div>
<div class="container">
    <div class="info">
        <h2>
            <i class="fa fa-address-card"></i>
            Seu Cadastro
        </h2>
        <hr>
        <h4>Infomações Pessoais</h4>
        <p>
            Nome: Fulaninho de tal
            <br>
            Email: teste@teste.com
            <br>
            Telefone: 000000000
            <br>
        </p>
       
        <h4>Endereço de Entrega</h4>
        <p>
            Ruazinha, número 100
            <br>
            Bairro, Cidade.
        </p>  

    </div>

    <div class="card">
        <div class="orders">
            <h3>
                Meus Pedidos
            </h3>
            <hr>
            Nenhum pedido ativo, mas que tal conferir nossas delícias?
            <button class="text-button">
                Confira!
            </button>

        </div>

        <div class="contact">
            <h3>
                Para mais informações entre em contato conosco pelas nossas redes sociais:
            </h3>
            <hr>
            
            <div class="row">
                <a
                    href="https://www.facebook.com/Doceamorbrigadeiros1/?hc_ref=ARSpty7gQMSk9W2D7mb0f0GPeqMBMVQFDE82flCq9cCg6LxjX4Kd9mpKkRtl5qRk7Ck&fref=nf&__tn__=kC-R">
                    <button id="fb" class="icon-button">
                        <i class="fa fa-facebook fa-3x"></i>
                    </button>
                </a>

                <a href="https://instagram.com/brigadeirosdoceamorgmt?utm_medium=copy_link">
                    <button id="inst" class="icon-button">
                        <i class="fa fa-instagram fa-3x"></i>
                    </button>
                </a>

                <a href="https://api.whatsapp.com/send?phone=5522998406865">
                    <button id="wpp" class="icon-button">
                        <i class="fa fa-whatsapp fa-3x"></i>
                    </button>
                </a>

            </div>
        </div>
    </div>
    
</div>