* {
  margin: 0;
  padding: 0;
  font-family: "Open-Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #233056;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  margin-left: 5px;
}
.logo img {
  height: 70px;
}
.logo span {
  font-family: "Lily Script One";
  font-size: 22px;
  font-weight: bolder;
  color: #233056;
  margin-left: 7px;
}

.menu {
  flex-grow: 10;
}
.menu ul {
  display: flex;
}
.menu ul li {
  list-style: none;
  padding: 10px;
  border-radius: 15px;
  margin: 0 25px;
}

header {
  font-weight: 500;
  background-color: #ffd8db;
  grid-area: global_header;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.5);
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
header nav .search {
  flex-grow: 1;
}
header nav .search * {
  box-sizing: border-box;
}
header nav .search form input {
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid rgba(35, 48, 86, 0.5);
  padding: 12px;
  height: 35px;
  width: 80%;
  font-size: 14px;
  float: left;
  background: white;
}
header nav .search form input:focus {
  outline: none;
}
header nav .search form ::placeholder {
  color: #233056;
}
header nav .search form button {
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 0;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid rgba(35, 48, 86, 0.5);
  height: 35px;
  width: 20%;
  font-size: 17px;
  float: left;
  background: #fff;
  color: #233056;
  align-items: center;
  border-left: none;
  cursor: pointer;
}
header nav .search form button:hover {
  transition: filter 0.3s;
  filter: brightness(0.7);
}
header nav .menu ul li {
  cursor: pointer;
}
header nav .menu ul li:hover {
  background-color: #caafb18e;
}
header nav .cart {
  margin-left: 30px;
  flex-grow: 1;
  margin-right: 7px;
}
header nav .login {
  flex-grow: 1;
  margin-right: 7px;
}

main {
  background-color: #d3d3d333;
  grid-area: global_content;
}

footer {
  background-color: #ffd8db;
  grid-area: global_footer;
}
footer nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer nav .first-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
footer nav .first-nav .logo img {
  margin-top: 5px;
  height: 50px;
}
footer nav .first-nav .logo span {
  font-size: 15px;
}
footer nav .first-nav hr {
  margin-left: 10px;
  border: 1pt solid #233056;
  width: 186px;
}
footer nav .first-nav .social-media ul {
  display: flex;
  justify-content: center;
  margin-left: 10px;
}
footer nav .first-nav .social-media ul li {
  list-style: none;
  padding: 3px;
  border-radius: 15px;
  margin: 0 5px;
  cursor: pointer;
}
footer nav .menu {
  flex-grow: 1;
}
footer nav .menu ul {
  justify-content: center;
}
footer nav .partners {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr 100px;
  grid-template-areas: "global_header" "global_content" "global_footer";
}

@media (max-width: 868px) {
  header nav .login {
    display: none;
  }
  header nav .cart {
    display: none;
  }
}
@media (max-width: 755px) {
  header nav .search {
    display: none;
  }

  footer nav .partners {
    display: none;
  }
}
@media (max-width: 692px) {
  header nav .menu {
    display: none;
  }

  footer nav .menu {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
